.myBtn {
  padding: 20px 40px;
  background-color: rgba(0, 0, 0, 0.4);
  border: 2px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2), 0 10px 10px rgba(0, 0, 0, 0.2);
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  font-size: 25px;
  letter-spacing: 1px;
  backdrop-filter: blur(0);
  cursor: pointer;
  border-radius: 10px;
  transition: 0.5s;
}

.myBtn:after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(
    45deg,
    transparent 50%,
    rgba(255, 255, 255, 0.03) 58%,
    rgba(255, 255, 255, 0.16) 67%,
    transparent 68%
  );
  background-size: 200% 100%;
  background-position: 165% 0;
  transition: 0.7s;
}
.myBtn:hover:after {
  background-position: -20% 0;
}
.myBtn:hover {
  box-shadow: 15px 30px 32px rgba(0, 0, 0, 0.5);
  transform: translateY(-5px);
}
.myBtn:active {
  transform: translateY(0px);
  border: 2px solid rgba(152, 250, 250, 0.5);
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
}

.myBtnNoAnimation {
  padding: 20px 40px;
  background-color: rgba(0, 0, 0, 0.4);
  border: 2px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2), 0 10px 10px rgba(0, 0, 0, 0.2);
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  letter-spacing: 1px;
  backdrop-filter: blur(8px);
  cursor: pointer;
  border-radius: 10px;
}

.myBtnNoAnimation:after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(
    45deg,
    transparent 50%,
    rgba(255, 255, 255, 0.03) 58%,
    rgba(255, 255, 255, 0.16) 67%,
    transparent 68%
  );
  background-size: 200% 100%;
  background-position: 165% 0;
  transition: 0.7s;
}
.myBtnNoAnimation:hover:after {
  background-position: -20% 0;
}
.myBtnNoAnimation:hover {
  box-shadow: 15px 30px 32px rgba(0, 0, 0, 0.5);
  transform: translateY(-5px);
}
.myBtnNoAnimation:active {
  transform: translateY(0px);
  border: 2px solid rgba(152, 250, 250, 0.5);
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
}

/* .activeBtn {
  transform: translateY(0px);
  border: 2px solid rgba(152, 250, 250, 0.5);
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
  border: 5px solid red;
} */
