table {
  border-collapse: collapse;
  backdrop-filter: blur(10px);
  border-radius: 10px;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  border: 1px solid rgba(255, 255, 255, 0.18);
  color: #afafaf;
  font-family: "Open Sans", sans-serif;
  width: calc(100% - 24%); /* 100% width minus left and right margins */
  margin: 40px auto; /* Adjust this value as needed */
  align-items: center;
  background: rgba(0, 0, 0, 0.4);
  overflow: hidden;
}

table caption {
  font-size: 1.5em;
  margin: 0.5em 0 0.75em;
}

table tr {
  background: rgba(0, 0, 0, 0.6);
  border: 1px solid #ddd;
  padding: 0.35em;
}

table th,
table td {
  padding: 0.625em;
  text-align: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.18); /* add a border to separate rows */
}

table th {
  font-size: 0.85em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #afafaf; /* text color same as the navbar */
}

/* @media screen and (max-width: 600px) {
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }

  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  table tr {
    border: 0;
    display: block;
    margin-bottom: 0.625em;
  }

  table td {
    border-bottom: 0px solid #ddd;
    display: block;
    font-size: 0.8em;
    text-align: right;
  }

  table td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  table td:last-child {
    border-bottom: 0;
  }
} */
