:root {
  /* background-color: black;
  color: white;
  padding: 0;
  margin: 0; */
}
body {
  background: linear-gradient(to bottom, #0a192f, #000000, #0a192f);

  color: white;
  padding: 0;
  margin: 0;
}
