:root {
  /* background-color: black;
  color: white;
  padding: 0;
  margin: 0; */
}
body {
  background-image: linear-gradient(
    111.4deg,
    rgba(7, 7, 9, 1) 6.5%,
    rgba(27, 24, 113, 1) 93.2%
  );
  color: white;
  padding: 0;
  margin: 0;
}
